# Project exclude paths
/.gradle/
/Text Editor/task/build/
/Text Editor/task/out/
/Text Editor/task/out/production/classes/
/Topics/Match results/Check the essay/out/
/Topics/Match results/Check the essay/out/production/classes/
/Topics/Patterns and Matcher/Start or end of a word/out/
/Topics/Patterns and Matcher/Start or end of a word/out/production/classes/
/Topics/Processing strings/Move the first N characters/out/
/Topics/Processing strings/Move the first N characters/out/production/classes/
/Topics/Regexes in programs/Card name validation and identification/out/
/Topics/Regexes in programs/Card name validation and identification/out/production/classes/
/Topics/Regexes in programs/Safe password/out/
/Topics/Regexes in programs/Safe password/out/production/classes/
/Topics/Stack/Getting the max element of a stack/out/
/Topics/Stack/Getting the max element of a stack/out/production/classes/